# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set default_version = '3.6.6' %}
{% set version = salt['grains.get']('rabbitmq_version', default_version) %}

{% set rabbitmq_type = salt['grains.filter_by']({
    'package': 'package',
    'tar': 'tar',
  }, grain='rabbitmq_type', default='package')
%}

{% if grains['osmajorrelease'][0] == '6' or grains['osmajorrelease'][0] == '2014' %}
  {% set rabbitmq_provider = 'service' %}
  {% set rabbitmq_service_location = '/etc/init.d/rabbitmq' %}
  {% set rabbitmq_service_name = 'rabbitmq.init' %}
  {% set rabbitmq_service_perm = '755' %}
{% else %}
  {% set rabbitmq_provider = 'systemd' %}
  {% set rabbitmq_service_location = '/etc/systemd/system/rabbitmq.service' %}
  {% set rabbitmq_service_name = 'rabbitmq.service' %}
  {% set rabbitmq_service_perm = '644' %}
{% endif %}

{% set rabbitmq = {
  'name': version,
  'version': version,
  'service': 'rabbitmq',
  'provider': rabbitmq_provider,
  'serviceloc': rabbitmq_service_location,
  'servicename': rabbitmq_service_name,
  'serviceperm': rabbitmq_service_perm,
  'homedir': '/opt/rabbitmq_server-' + version,
  'rabbitmq_home': '/opt/rabbitmq',
  'rabbitmq_type': rabbitmq_type,
} %}

